# Docker
COMPOSE_PROJECT_NAME=capychef

# PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=capychef

# Environment (DEV | QA | PROD)
ASPNETCORE_ENVIRONMENT=DEV
ASPNETCORE_AllowedHosts=localhost

# .NET
DB_CONNECTION_STRING="Host=;Port=5432;Database=capychef;Username=;Password=;Include Error Detail=true"
JWT_SECRET_KEY=
CORS_ALLOWED_ORIGINS=http://localhost:4200

# Redis
REDIS_CONNECTION_STRING=localhost:6379
