# Docker
COMPOSE_PROJECT_NAME=capychef

# PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=capychef

# Environment
ENVIRONMENT=Development || Testing || Production

# .NET
DB_CONNECTION_STRING="Host=;Port=5432;Database=capychef;Username=;Password=;Include Error Detail=true"
JWT_SECRET_KEY=